<header class="headerHome">
    <div class="contentTopSection">
        <div class="title titleb">
            <h1 id="brand"><%= image_tag("samechances1.png", alt: "logo")%></h1>
            </br>
            <h1>Same Chances est une plateforme </br> qui met en relation des candidats ayant la possibilité de </br> créer des CVs neutres
            avec des recruteurs. </br></br> Ici pas de biais de recrutement !</h1>
        </div>

        <div class="buttons">
            <a href="#section1"><button class="buttonHome">En savoir plus pour les recruteurs</button></a>
            <a href="#section2"><button class="buttonHome">En savoir plus pour les candidats</button></a>
        </div>
    </div>
</header>
<section class="sectionOne" id="section1">
    <div class="contentSection">
        <h2 class="title">Vous êtes recruteur ?</h2>
        <div class="infosSecondSection">
            <div class="infosRecruiter container">
                <h3 class="title">Infos</h3>
                <p>Vous souhaitez recruter les meilleurs et voulait éviter les biais de jugement lors de vos futurs recrutements ?
                Same Chances vous permet d'analyser votre démographie en entreprise et de recruter vos futurs talents sur la base de critères purement objectifs.
                L'avantage ? Garder que les meilleurs éléments sur la base des compétences.</p>
            </div>
            <div class="charts container">
                <h3 class="title">Un dashboard complet sur la démographie de votre entreprise</h3>
                <%= image_tag("charts.jpg", :alt => "charts") %>
            </div>
        </div>
        <div class="buttons">
            <a href="#section2"><button class="buttonHome buttonOrange">Créer son compte entreprise</button></a>
        </div>
    </div>
</section>
<section class="sectionTwo" id="section2">
    <div class="contentSection">
        <h2 class="title">Vous êtes candidat ?</h2>
        <div class="infosSecondSection">
            <div class="charts container">
                <h3>Graphes</h3>
                <%= image_tag("charts.jpg", :alt => "charts") %>
            </div>
            <div class="infosRecruiter container">
                <h3>Infos</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut felis mattis, finibus metus vitae, consectetur lectus. In at eleifend augue. 
                </br>Nullam dignissim nisi ac facilisis blandit. Aliquam blandit auctor tellus, eget elementum enim.</br>
                Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce interdum libero et est feugiat efficitur. Nulla convallis arcu in odio interdum dignissim. In ligula augue, tincidunt vel elit et, sodales porta risus. Nunc eu massa augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget venenatis metus. Praesent posuere nibh dui. Duis nec ligula tincidunt, congue ante et, blandit nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi iaculis mauris suscipit tellus lobortis malesuada. Nullam iaculis rutrum nisl sit amet varius. Maecenas condimentum lacus vitae gravida cursus. 
                </br></br> Phasellus ipsum purus, tristique ut urna et, placerat faucibus magna.</p>
            </div>
        </div>
        <div class="buttons">
            <a href="#section2"><button class="buttonHome">Créer son compte candidat</button></a>
        </div>
    </div>
</section>
<section class="sectionThree">
    <div class="contentSection">
        <h2 class="title">A propos de nous</h2>
        <div class="profiles">
            <div class="profile">
                <%= image_tag("alex.jpeg", :alt => "alexandre cartier", :class => "profilePicture") %>
                <p>CEO de Same Chances, féministe avant tout. Il adore le foot et la cuisine italienne.</p>
            </div>
            <div class="profile">
                <%= image_tag("aude.png", :alt => "aude cervantes", :class => "profilePicture") %>
                <p>CMO, aime parler de sujets philosophiques et a un attrait particulier pour le plat flageolets/oeuf.</p>
            </div>
            <div class="profile">
                <%= image_tag("alexandra.jpeg", :alt => "alexandra de la gueronnière", :class => "profilePicture") %>
                <p>CTO, adore débattre et n'a pas peur d'affirmer haut et fort ses convictions, elle aime aussi tous les êtres vivants.</p>
            </div>
        </div>
        <div class="pitch">
            <p><strong>Same Chances est né d'un constat simple : </strong></br></br>
            La représentation des femmes et de toutes les minorités en entrepise </br> ne sont pas à la 
            hauteur des valeurs que notre société actuelle met en avant. </p>
            <p>On prône l'égalité, la valorisation des compétences, la bienveillance... </br> 
            mais au delà des mots, Same Chances veut vous donner les moyens </br> de le réaliser afin de mettre en avant les 
            candidats pour leurs compétences </br> et leurs compétences uniquement.</p>
            <p>Ainsi les deux côtés sont gagnants, une entreprise peut trouver sa perle rare </br> 
            grâce à des critères objectifs, et les candidats sont tous mis </br> sur un même pied d'égalité.</p>
            <p>Ce projet vous parle à vous aussi ? 
            </br> Alors venez participer à l'aventure Same Chances avec nous !</p>
        </div>
    </div>
</section>

<% if candidate_signed_in? %>

    Il est temps de créer votre CV !

    <%= form_tag do %>
        <div class="field">
            <%= label_tag(:q, "Votre genre") %>
            <%= text_field_tag(:q) %>
            <p>Cette information ne sera pas mise en avant auprès du recruteur.</p>
        </div>

        <div class="field">
            <%= label_tag(:q, "Votre âge") %>
            <%= text_field_tag(:q) %>
            <p>Cette information ne sera pas mise en avant auprès du recruteur.</p>
        </div>

        <div class="field">
            <%= label_tag(:q, "Votre adresse") %>
            <%= text_field_tag(:q) %>
            <p>Cette information ne sera pas mise en avant auprès du recruteur.</p>
        </div>

        <div class="field">
            <%= label_tag(:q, "Votre numéro de téléphone") %>
            <%= text_field_tag(:q) %>
        </div>

        <div class="field">
            <%= label_tag(:q, "Vos expériences") %>
            <%= text_field_tag(:q) %>
        </div>

        <div class="field">
            <%= label_tag(:q, "Votre formation") %>
            <%= text_field_tag(:q) %>
        </div>

        <div class="actions">
            <%= submit_tag("Enregistrer") %>
        </div>
    <% end %>

<% end %>


<% if recruiter_signed_in? %>

    Des infos sur l'entreprise ?

    <%= form_tag do %>
        <div class="field">
            <%= label_tag(:q, "Le nom de votre entreprise") %>
            <%= text_field_tag(:q) %>
        </div>

        <div class="field">
            <%= label_tag(:q, "Description de votre entreprise") %>
            <%= text_field_tag(:q) %>
        </div>

        <div class="field">
            <%= label_tag(:q, "L'adresse de votre entreprise") %>
            <%= text_field_tag(:q) %>
        </div>

        <div class="field">
            <%= label_tag(:q, "Combien comptez-vous de femmes dans votre entreprise ?") %>
            <%= text_field_tag(:q) %>
        </div>

        <div class="field">
            <%= label_tag(:q, "Combien comptez-vous d'hommes dans votre entreprise ?") %>
            <%= text_field_tag(:q) %>
        </div>

        <div class="actions">
            <%= submit_tag("Enregistrer") %>
        </div>
    <% end %>

<% end %>
