<header class="headerHome">
    <div class="contentFirstSection">
        <div class="title">
            <h1>Same Chances est une plateforme </br> qui met en relation des candidats ayant la possibilité de </br> créer des CVs neutres
            avec des recruteurs. </br></br> Ici pas de biais de recrutement !</h1>
        </div>

        <div class="buttons">
            <button class="buttonHome">En savoir plus pour les recruteurs</button>
            <button class="buttonHome">En savoir plus pour les candidats</button>
        </div>
    </div>
</header>
<section class="sectionOne">
    <div class="contentSecondSection">
        <h2 class="title">Vous êtes recruteur ?</h2>
        <div class="infosSecondSection">
            <div class="infosRecruiter">
                <h3>Infos</h3>
                <p>Vous souhaitez recruter les meilleurs et voulait éviter les biais de jugement lors de vos futurs recrutements ?
                Same Chances vous permet d'analyser votre démographie en entreprise et de recruter vos futurs talents sur la base de critères purement objectifs.
                L'avantage ? Garder que les meilleurs éléments sur la base des compétences.</p>
            </div>
            <div class="charts">
                <h3>Graphes</h3>
                <%= image_tag("charts.jpg", :alt => "charts") %>
            </div>
        </div>
    </div>
</section>
<section class="sectionTwo">
    <div>
        <h2 class="title">Vous êtes candidat ?</h2>
        <div class="infosCandidate">
            <p>Graphes</p>
            <p>Infos</p>
        </div>
    </div>
</section>
<section class="sectionThree">
    <div>
        <h2>Notre constat</h2>
        <p>Infos</p>
    </div>
</section>

<% if candidate_signed_in? %>

    Il est temps de créer votre CV !

    <%= form_tag do %>
        <div class="field">
            <%= label_tag(:q, "Votre genre") %>
            <%= text_field_tag(:q) %>
            <p>Cette information ne sera pas mise en avant auprès du recruteur.</p>
        </div>

        <div class="field">
            <%= label_tag(:q, "Votre âge") %>
            <%= text_field_tag(:q) %>
            <p>Cette information ne sera pas mise en avant auprès du recruteur.</p>
        </div>

        <div class="field">
            <%= label_tag(:q, "Votre adresse") %>
            <%= text_field_tag(:q) %>
            <p>Cette information ne sera pas mise en avant auprès du recruteur.</p>
        </div>

        <div class="field">
            <%= label_tag(:q, "Votre numéro de téléphone") %>
            <%= text_field_tag(:q) %>
        </div>

        <div class="field">
            <%= label_tag(:q, "Vos expériences") %>
            <%= text_field_tag(:q) %>
        </div>

        <div class="field">
            <%= label_tag(:q, "Votre formation") %>
            <%= text_field_tag(:q) %>
        </div>

        <div class="actions">
            <%= submit_tag("Enregistrer") %>
        </div>
    <% end %>

<% end %>


<% if recruiter_signed_in? %>

    Des infos sur l'entreprise ?

    <%= form_tag do %>
        <div class="field">
            <%= label_tag(:q, "Le nom de votre entreprise") %>
            <%= text_field_tag(:q) %>
        </div>

        <div class="field">
            <%= label_tag(:q, "Description de votre entreprise") %>
            <%= text_field_tag(:q) %>
        </div>

        <div class="field">
            <%= label_tag(:q, "L'adresse de votre entreprise") %>
            <%= text_field_tag(:q) %>
        </div>

        <div class="field">
            <%= label_tag(:q, "Combien comptez-vous de femmes dans votre entreprise ?") %>
            <%= text_field_tag(:q) %>
        </div>

        <div class="field">
            <%= label_tag(:q, "Combien comptez-vous d'hommes dans votre entreprise ?") %>
            <%= text_field_tag(:q) %>
        </div>

        <div class="actions">
            <%= submit_tag("Enregistrer") %>
        </div>
    <% end %>

<% end %>
